// app global css in SCSS form

// Main colors
.text-cream {
  color: $cream;
}
.bg-cream {
  background: $cream;
}

.text-cream2 {
  color: $cream2;
}
.bg-cream2 {
  background: $cream2;
}

.text-grey {
  color: $grey;
}
.bg-grey {
  background: $grey;
}

.text-background {
  color: $background;
}
.bg-background {
  background: $background;
}

.text-background2 {
  color: $background2;
}
.bg-background2 {
  background: $background2;
}

.text-background3 {
  color: $background3;
}
.bg-background3 {
  background: $background3;
}

.text-textColor {
  color: $text-color;
}
.bg-textColor {
  background: $text-color;
}

.text-textColor2 {
  color: $text-color2;
}
.bg-textColor2 {
  background: $text-color2;
}

// Other colors
.text-yellow {
  color: $yellow;
}
.bg-yellow {
  background: $yellow;
}

.text-orange {
  color: $orange;
}
.bg-orange {
  background: $orange;
}

.text-red {
  color: $red;
}
.bg-red {
  background: $red;
}

.text-magenta {
  color: $magenta;
}
.bg-magenta {
  background: $magenta;
}

.text-violet {
  color: $violet;
}
.bg-violet {
  background: $violet;
}

.text-blue {
  color: $blue;
}
.bg-blue {
  background: $blue;
}

.text-cyan {
  color: $cyan;
}
.bg-cyan {
  background: $cyan;
}

.text-green {
  color: $green;
}
.bg-green {
  background: $green;
}
