/* Global CSS used within your BEX. This is not preprocessed so this has to be pure CSS. */

/* CSS selector by id and name */
#datagetter-iframe[name="shown"] {
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

#datagetter-iframe[name="hidden"] {
  right: 47% !important;
  bottom: 0 !important;
  left: 47% !important;
}

/* unused */
.btnEl {
  color: "yellow";
  background-color: "blue";
  border: "thick solid #000000";
  font-size: "small";
  cursor: "pointer";
  margin-right: "8px";
}
